/* --- Directory block */

.filesystem-listing {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
  font-weight: bold;
}

/* --- Quotation block */

/* css styles */
/* .quotation-block {
    font-size: 16px;
    line-height: 66%;
    margin-left: 4cm;
} */

.quotation-block {
  position: relative; /* Essential for positioning the pseudo-elements */
  padding-left: 2rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
  margin: 1em 0 1em 0;
  font-style: italic;
  color: #333;
  font-size: 80%;
  font-family: serif;
  text-align: justify;
  background-color: #f9f9f9;
  border-left: 1em #44000055 solid;
  border-radius: 1em;
}

.quotation-block::after,
.quotation-block::before {
  font-family: 'Georgia', serif; /* Choose a font with a nice quote character */
  font-size: 4em; 
  opacity: 0.4;
  color: #440000; 
  position: absolute;
  line-height: 1; /* Prevent extra line height from affecting layout */
  z-index: 1; /* Place it behind the text */
}

.quotation-block::before {
  content: '“'; /* The giant opening quote character */
  top: -0.0rem; /* Adjust vertical position */
  left: -0.2rem; /* Adjust horizontal position */
}

.quotation-block::after {
  content: '”'; /* The giant closing quote character */
  bottom: -1.5rem; /* Adjust vertical position */
  right: -0rem; /* Adjust horizontal position */
}

.quotation-attribution-block {
  text-align: right;
  font-size: 80%;
  margin: -0.5em 1em 2em 0;
  padding: 0;
  /* background-color: #f9f9f9;
  border-left: 1em #44000055 solid;
  border-radius: 0em 0em 1em 1em; */
}

.quotation-block p {
  position: relative; /* Ensure text is above the giant quote */
  z-index: 0;
}

/* --- Sidebar headings */

.sidebar-item-section > .sidebar-item-container > .sidebar-item-text.sidebar-link {
  font-weight: bold;
  /* color: #ffcc00; */
  color: #ffdd88;
  font-size: 80%;
}
